Source: ros-melodic-rosbag-editor
Section: misc
Priority: extra
Maintainer: dfaconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), qtbase5-dev, ros-melodic-catkin, ros-melodic-rosbag, ros-melodic-rosbag-storage, ros-melodic-roscpp
Homepage: http://wiki.ros.org/rosbag_editor
Standards-Version: 3.9.2

Package: ros-melodic-rosbag-editor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qtbase5-dev, ros-melodic-rosbag, ros-melodic-rosbag-storage, ros-melodic-roscpp
Description: The rosbag_editor package
