Source: ros-kinetic-rosbag-editor
Section: misc
Priority: extra
Maintainer: dfaconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), qtbase5-dev, ros-kinetic-catkin, ros-kinetic-rosbag, ros-kinetic-rosbag-storage, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/rosbag_editor
Standards-Version: 3.9.2

Package: ros-kinetic-rosbag-editor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qtbase5-dev, ros-kinetic-rosbag, ros-kinetic-rosbag-storage, ros-kinetic-roscpp
Description: The rosbag_editor package
